<div style="top:50px;position:relative">
    <div class="col-xs-12">
        <span class="col-xs-2"><span id="busy"></span></span>
        <span class="col-xs-2">
            <button id="jsondatartns" class="btn btn-default btn-block">Menu Json</button>
        </span>
        <span class="col-xs-1">&nbsp;</span>
        <span class="col-xs-7">@ViewBag.JsonLoadedMsg</span>
    </div>
    <div class="col-xs-12">
        <span class="col-xs-2">&nbsp;</span>
        <span class="col-xs-2">
            <button id="csvdatartns" class="btn btn-default btn-block">Store CSV</button>
        </span>
        <span class="col-xs-1">&nbsp;</span>
        <span class="col-xs-7">@ViewBag.CsvLoadedMsg</span>
    </div>
</div>